
.container{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 85%;
  padding: 0 3% 0 3%;
  margin: 0 3% 0 3%;
  animation: rise-up 1.2s ease-out 
}

@keyframes rise-up{
  0% {
    opacity: 0;
    padding-top: 100%;
  }

  100%{
    opacity: 1;
    padding-top: 0
  }
}

.buttonList{
 display: flex;
 flex-direction: column;
 justify-content: flex-end;
 align-items: center;
  position: fixed;
  right: 40px;
  top: 10px;
}
.allPost{
  padding: 10px; 
  display: flex; 
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: '100%'
}
.invisibleBg{
    position: fixed;
    width: 0px;
    height: 0px;
    background-color: transparent;
    top: -10px;
    right: -40px;
}
.invisibleBgFocused{
    position: fixed;
    width: 110%;
    height: 100%;
    background-color: transparent;
    top: -10px;
    right: -40px;
}
.sortButtonBg{
  position: absolute;
  right: 0px;
  top: 0;
  width: 0px;
  height: 0px;
  border-radius: 0px;
  background-color:transparent;
  box-shadow:  0 0 0px 0 #444, inset 0 0 0 0 #555;;
  transition: all .6s ease-out;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sortButtonBgFocused{
    position: absolute;
  right: -26px;
  top: 0;
  padding-top: 20px;
  width: 250px;
  height: 293px;
  border-radius: 8px;
  background-color:white;
  box-shadow:  0 5px 25px 3px #444, inset 0 0 6px 0 #555;
  transition: all 0.6s ease-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.sort{
  font-family: 'syncopate';
  font-size:14px;
  cursor: pointer;
  transition: all 1s ease-out;
  background-color:white;
  min-height: 60px;
  width: 60px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow:  inset 0 0 0px 0px #222, 0 0 5px 0 #444;
  z-index: 1
}

.sort:hover{
  box-shadow:  inset 0 0 0px 0px cyan, 0 0 25px 0 #444;
  transition: all 1s ease-out;
}
.sortFocused{
   font-family: 'syncopate';
  font-size:15px;
  margin-bottom: 20px;
  cursor: pointer;
  min-height: 60px;
  width: 60px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transform: rotate(360deg) translateY(0px);
  color: cyan;
  box-shadow: inset 0 0 0px 30px #222, 0 0 0 #000;
  transition: all 0.8s ease
}
.sortFocused:hover{
color: cyan;
transform: rotate(360deg) translateY(-6px);
    text-shadow: 0 0 7px cyan;
    box-shadow: inset 0 0 0px 30px #222, 0 6px 10px 3px  #888;
    transition: all 0.8s;
    
}


.button{
  top:27px;
  position: absolute;
  cursor: default;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 0px;
  font-family:'Syncopate';
  font-size: 0px;
  color: transparent;
  opacity:0;
  padding: 8px;
  text-align: center;
  border-radius: 6px;
  background: linear-gradient(to right,#555, #777, #555);
  box-shadow: 3px 5px 10px 0px #888;
  transition: all .6s;
  z-index: 0
}
.button1Focused{
  top:100px;
  position: absolute;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 180px;
  font-family:'Syncopate';
  font-size: 13px;
  color: #79FFFF;
  opacity:0.8;
  padding: 8px;
  text-align: center;
  border-radius: 6px;
  background: linear-gradient(to right,#555, #777, #555);
  box-shadow: 3px 5px 10px 0px #888;
  transition: all 0.8s ease-out;
animation: dropDown1 0.8s;
  animation-delay: 0.25s;
  transition-delay:0.25s
}
@keyframes dropDown1{
  from{
    top: 27px;
    opacity: 0
  }
  to{
    top: 100px;
    opacity: 0.8
  }
}

.button2Focused{
  top: 145px;
  position: absolute;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 180px;
  font-family:'Syncopate';
  font-size: 13px;
  color: #79FFFF;
  opacity:0.8;
  padding: 8px;
  text-align: center;
  border-radius: 6px;
  background: linear-gradient(to right,#555, #777, #555);
  box-shadow: 3px 5px 10px 0px #888;
  transition: all 0.8s ease-out;
  animation: dropDown2 0.8s;
  animation-delay: 0.5s;
  transition-delay:0.5s
}
@keyframes dropDown2{
  from{
    top: 27px;
    opacity: 0
  }
  to{
    top: 145px;
    opacity: 0.8
  }
}
.button3Focused{
  top:190px;
  position: absolute;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 180px;
  font-family:'Syncopate';
  font-size: 13px;
  color: #79FFFF;
  opacity:0.8;
  padding: 8px;
  text-align: center;
  border-radius: 6px;
  background: linear-gradient(to right,#555, #777, #555);
  box-shadow: 3px 5px 10px 0px #888;
  transition: all 0.8s ease-out;
  animation: dropDown3 0.8s;
  animation-delay: 0.75s;
  transition-delay:0.75s
}

@keyframes dropDown3{
  from{
    top: 27px;
    opacity: 0
  }
  to{
    top: 190px;
    opacity: 0.8
  }
}
.button4Focused{
  top:235px;
  position: absolute;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 180px;
  font-family:'Syncopate';
  font-size: 13px;
  color: #79FFFF;
  opacity:0.8;
  padding: 8px;
  text-align: center;
  border-radius: 6px;
  background: linear-gradient(to right,#555, #777, #555);
  box-shadow: 3px 5px 10px 0px #888;
  transition: all 0.8s ease-out;
  animation: dropDown4 0.8s;
  animation-delay: 1s;
  transition-delay:1s
}

@keyframes dropDown4{
  from{
    top: 27px;
    opacity: 0
  }
  to{
    top: 235px;
    opacity: 0.8
  }
}


.button1Focused:hover,
.button2Focused:hover,
.button3Focused:hover,
.button4Focused:hover{
  text-shadow: 0 0 13px cyan;
  opacity: 1;
  color: cyan;
  transition: all 0.6s;
  transition-delay:0s
}
.middleRow{
  display: flex;
  font-size: 18px;
  margin: 5px 0 5px 0;
}
.bottomRow{
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}